*{
  padding: 0;
  margin: 0;
    /*background-color: rgb(251, 204, 111);*/
    list-style-type: none;
    text-decoration: none;
   box-sizing: border-box;
}
body{
    background-color:rgb(255, 255, 255);
    margin: 0;
    margin-top: 0;
    font-family: montserrat;
}


.myNav{
width: 101%;
  background-color: rgb(186, 68, 255);
    height: 100px;
margin-bottom: 50px;
   
}



#btnGenerator{
    background-color:rgb(0, 165, 66) ;
    color: azure;
    margin-top: 40px;
    margin-left: 44%;
    font-size: 30px;
    padding: 10px;
    border-radius: 20px;
    padding-left: 18px;
    padding-right: 18px;
    margin-bottom: 10px;
    border: none;
}
.iContainer{
    justify-content: center;
}
#myImg{
    
    margin: auto;
    margin-top: 2%;
    border-radius: 8px;
}
#myImgd{
    margin: auto;
    margin-top: 2%;
    border-radius: 8px;
}
nav ul{
    float: right;
    margin-right: 20px;
}
ul li{
    display: inline-block;
  
    line-height: 70px;
   margin:0 5px
  
}
ul li a{

    font-size: 20px;
    font-weight:200;
    background-color:rgb(186, 68, 255);
    color: white;
    border-radius: 16px;
    padding: 10px;
    padding-left: 25px;
    padding-right: 25px;
}
p{
    line-height: 25px;
}




#btnGenerator{
    font-size:25px;
    margin-top: 80px;
}
#myImg{
    
    margin: auto;
    margin-top: 2%;
    border-radius: 8px;
    width: 90px;
}





.btn1{
    color: aliceblue ;
    font-size: 20px;
    font-weight:200;
    background-color:rgb(255, 129, 61)  ;
    border-radius: 16px;
    padding: 10px;
    padding-left: 25px;
    padding-right: 25px;
}
.btn1{
  border: none;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 0;
}


ul{
    margin-right: 300px;
}
a.active,a:hover,#btnGenerator:hover,#btnGeneratord:hover{
    color: rgb(186, 68, 255);
    background-color:rgb(248, 248, 248);
    transition: .5s;
}


#btnGeneratord{
    background-color:rgb(0, 165, 66) ;
    color: azure;
    margin-top: 40px;
    margin-left: 44%;
    font-size: 30px;
    padding: 10px;
    border-radius: 20px;
    padding-left: 18px;
    padding-right: 18px;
    margin-bottom: 10px;
    border: none;
}
.label{
    margin-left: 16px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: 800;
}
.row{
    margin-left: 40px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}
.sub{
    background-color:rgb(0, 165, 66);
    color: aliceblue;
    width: 90px;
    height: 40px;
    border: none;
}
input,textarea{
    margin-top: 20px;
    border-color: green;
}
input{
    margin-top: 20px;
    padding: 8px;
    border-radius: 9px;

  
}
.checkbtn{
    color: aliceblue;
    font-size: 30px;
    float: right;
    line-height: 70px;
    margin-right: 80px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}
@media (max-width:952px) {
    .label{
        font-size: 60px;
        padding-left: 50px;

    }
  nav ul li a {
    font-size: 16px;
  } 
  p{
    line-height: 30px;
  } 
    
}
@media (max-width:852px) {
    .checkbtn{
        display: block;
    }
   .label{position: fixed;}
    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background-color: rgb(95, 0, 101);
      top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    nav ul li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a {
        font-size: 19px;
        background-color: rgb(95, 0, 101);
    
    }
    a:hover,a.active{
        background:none;
        color: rgb(186, 69, 255);
     }
     #check:checked ~ ul{
        left: 0;
     }
    

}




@media (max-width:360px){
.label{
    font-size: 20px;
    padding-left: 20px;  
}
#btnGenerator{
   align-items: center;
   margin-left: 40%;
}

}
@media (max-width:450px ){
    .myNav{
        width: 105%;
          background-color: rgb(186, 68, 255);
     
        }
}
@media (max-width:420px ){
    .myNav{
        width: 107%;
          background-color: rgb(186, 68, 255);
     
        }
}

@media (max-width:415px ){
    .myNav{
        width: 110%;
          background-color: rgb(186, 68, 255);
     
        }
}

@media (max-width:402px ){
    .myNav{
        width: 120%;
          background-color: rgb(186, 68, 255);
     
        }
}

@media (max-width:377px ){
    .myNav{
        width: 130%;
          background-color: rgb(186, 68, 255);
     
        }
}

@media (max-width:325px ){
    .myNav{
        width: 140%;
          background-color: rgb(186, 68, 255);
     
        }
}
@media (max-width:302px ){
    .myNav{
        width: 150%;
          background-color: rgb(186, 68, 255);
     
        }
}
@media (max-width:275px ){
    .myNav{
        width: 163%;
          background-color: rgb(186, 68, 255);
     
        }
}


@media (max-width:265px ){
    .myNav{
        width: 180%;
          background-color: rgb(186, 68, 255);
     
        }
}
@media (max-width:235px ){
    .myNav{
        width: 196%;
          background-color: rgb(186, 68, 255);
     
        }
}
@media (max-width:220px ){
    .myNav{
        width: 219%;
          background-color: rgb(186, 68, 255);
     
        }
}
@media (max-width:195px ){
    .myNav{
        width: 229%;
          background-color: rgb(186, 68, 255);
     
        }
}
@media (max-width:185px ){
    .myNav{
        width: 247%;
          background-color: rgb(186, 68, 255);
     
        }
}
@media (max-width:175px ){
    .myNav{
        width: 260%;
          background-color: rgb(186, 68, 255);
     
        }
}
@media (max-width:165px ){
    .myNav{
        width: 285%;
          background-color: rgb(186, 68, 255);
     
        }
}
@media (max-width:155px ){
    .myNav{
        width: 300%;
          background-color: rgb(186, 68, 255);
     
        }
}
@media (max-width:146px ){
    .myNav{
        width: 330%;
          background-color: rgb(186, 68, 255);
     
        }
}
@media (max-width:133px ){
    .myNav{
        width: 360%;
          background-color: rgb(186, 68, 255);
     
        }
}
